.container {
  max-width: 1000px;
  margin: 0 auto;
  /* border: 2px solid red; */ }

.header {
  color: black;
  min-height: 150px; }

.main {
  /*   border: 2px solid blue; */
  min-height: 900px; }

.left-content {
  width: 70%;
  /*    border: 2px solid green;  */
  min-height: inherit;
  float: left; }

.right-content {
  min-height: inherit;
  /*   border: 2px solid brown;  */
  width: 29%;
  float: right; }

.navbar {
  color: black;
  text-align: center; }
