.site-logo {
  float: right;
  display: block;
  margin-left: 100px; }

.companytitle {
  float: right;
  width: 20%;
  margin-left: 120px;
  margin-top: 5px; }
  .companytitle h1 {
    font-size: 2em; }
    .companytitle h1:hover {
      color: #5f6f7e;
      font-size: 20rem; }

.medialinks {
  float: right;
  width: 20%;
  font-size: 2em;
  margin-left: 120px;
  margin-top: 5px; }
  .medialinks:hover {
    background: #5f6f7e; }
